
@using Models
@using System.Reflection;
@using AdminBaseComponenets;
@using System.ComponentModel;
@using Tools;
@inherits ValueInput0

@{
    Console.WriteLine("fffffffffff");
    genericArgs = Program0.getValueKeyPair(entityName);
    ReadOnly = !Program0.checkPermission<Models.UpdateAccess>(genericArgs[0]);
    if (value0 != null && !value0.GetType().IsAssignableTo(genericArgs[0]))
    {
        value0 = (typeof(FormContainer).GetMethod(nameof(getValueFast0), BindingFlags.NonPublic | BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)?
                        .MakeGenericMethod(genericArgs)
                      .Invoke(this, new object[] { Id }));
        selectedTab = "value";
    }
    if (Id == "new")
    {
        value0 = genericArgs[0].GetConstructor(new Type[] { }).Invoke(new object[] { });// new genericArgs[0]();
        valueIsNew = true;
        ButtonState = "save new";
        selectedTab = "value";
    }

    

    if (genericArgs[0] != null)
    {

        var x = genericArgs[0].GetPerisanName();


        <h1>@x</h1>




        if (formView == null || !formView.GetType().IsInstanceOfType(typeof(EditBase2<>).MakeGenericType(new Type[] { genericArgs[0] })))
            Initial();
            
        if (!valueIsNew)
        {
            
            /*value = (typeof(FormContainer).GetMethod(nameof(getValue), BindingFlags.NonPublic | BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)?.MakeGenericMethod(genericArgs)
            .InvokeAsync(this, new object[] { Id })).Result;
            value = await(Task<object>)(typeof(FormContainer).GetMethod(nameof(getValue), BindingFlags.NonPublic | BindingFlags.Public | BindingFlags.Static | BindingFlags.FlattenHierarchy)?
                        .MakeGenericMethod(genericArgs)
                      .Invoke(this, new object[] { Id }));/**/

        }

    }
    Console.WriteLine($"value==null = {value0 == null}");





}


@if (valueIsNew)
{
    if (formView != null)
    {
        <div>@Program0.CreateDynamicComponent2(this, formView, value0, ReadOnly: ReadOnly)</div>
    }
    if (Program0.checkPermission<Models.InsertAccess>(genericArgs[0]))
    {
        <Button Outlined="true" Clicked="@(async () => await Click())">@ButtonState</Button>
    }


}
else
{
    <Tabs RenderMode=@TabsRenderMode.LazyLoad SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged" Pill="true" Class="multi-line-tabs">
        <Items>
            <Tab Name="value">Value</Tab>
            @foreach (var prop in genericArgs[0].GetProperties())
            {
                var y = prop.GetCustomFirstAttributes<Models.IgnoreDefultForm>();
                if (y != null)
                    continue;
                if (prop.PropertyType.IsGenericType && prop.PropertyType.GetGenericTypeDefinition() == typeof(System.Collections.Generic.ICollection<>))
                    if(Program0.checkPermission<SelectAccess>(prop.PropertyType.GetGenericArguments()[0])){
                        <Tab Name=@(prop.Name)>
                            @prop.GetPerisanName()
                        </Tab>
                    }


            }
            @foreach (var prop in genericArgs[0].GetMethods())
            {
                var y = prop.GetCustomFirstAttributes<Models.IgnoreDefultForm>();
                if (y != null)
                    continue;
                if (prop.ReturnType.IsGenericType && prop.ReturnType.GetGenericTypeDefinition() == typeof(IQueryable<>))
                    if(Program0.checkPermission<SelectAccess>(prop.ReturnType.GetGenericArguments()[0])){
                        <Tab Name=@(prop.Name)>
                            @prop.GetPerisanName()
                        </Tab>
                    }
            }
        </Items>
        <Content>
            <TabPanel Name="value">
                @if (formView != null)
                {
                    <div>@Program0.CreateDynamicComponent2(this,formView,value0,onChangeRefrence0,null,ReadOnly)</div>
                }
                @if (Program0.checkPermission<Models.UpdateAccess>(genericArgs[0]))
                {
                    <Button Outlined="true" Clicked="@update">@ButtonState</Button>
                }
                <div> @Program0.CreateDynamicComponentActionbar(genericArgs[0],actionValue,value0,genericArgs)</div>
            </TabPanel>


            @if (value0 != null)
            {
                foreach (var prop in genericArgs[0].GetProperties())
                {
                    var y = prop.GetCustomFirstAttributes<Models.IgnoreDefultForm>();
                    if (y != null)
                        continue;
                    if (prop.PropertyType.IsGenericType && prop.PropertyType.GetGenericTypeDefinition() == typeof(System.Collections.Generic.ICollection<>))
                        if(Program0.checkPermission<SelectAccess>(prop.PropertyType.GetGenericArguments()[0])){
                        <TabPanel @key=@($"gfc/{(value0 as Models.IEntity0).getId().ToString()}/{prop.Name}") Name=@prop.Name>
                            @CreateDynamicComponentGrid(prop.PropertyType.GetGenericArguments()[0],(value0 as Models.IEntity0).getId(),prop.Name)
                        </TabPanel>
                    }


                }
                foreach (var prop in genericArgs[0].GetMethods())
                {
                    if (prop.ReturnType.IsGenericType && prop.ReturnType.GetGenericTypeDefinition() == typeof(IQueryable<>))
                        if(Program0.checkPermission<SelectAccess>(prop.ReturnType.GetGenericArguments()[0])){
                            <TabPanel Label=@prop.GetPerisanName() @key=@($"gfc/{(value0 as Models.IEntity0).getId()}/{prop.Name}") Name=@(prop.Name)>
                                @CreateDynamicComponentGrid(prop.ReturnType.GetGenericArguments()[0],(value0 as Models.IEntity0).getId(),prop.Name)
                            </TabPanel>
                        }
                }

            }
        </Content>
    </Tabs>


}

<div>
    .. <br />
    .. <br />
    .. <br />
</div>


@code {


    @inject NavigationManager NavigationManager;









}
