@typeparam TItem
@typeparam TKEY
@typeparam TMKEY
@typeparam TMASTER
@inherits NullableInput2<IReadOnlyCollection <TItem>>
@using System.ComponentModel.DataAnnotations.Schema;
@using Models
@using AdminBaseComponenets
@using System.ComponentModel;
@using Tools;

<Button Outlined="true" Clicked="@Click">@ButtonState</Button>
    <Button Color="Color.Primary" Clicked="@ShowModal">Show Modal</Button>
@if(value!=null){
    <DataListSyncfusion TItem=TItem TKEY=TKEY value=@value> </DataListSyncfusion>
}else{
    //Click();
    if(ButtonState.Length<3)
        ButtonState="click to load";
}


<Modal @ref="modalRef" Style="overflow:visible">
    <ModalContent Centered Size=ModalSize.ExtraLarge>
        <ModalHeader>
            <ModalTitle>Edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
             @if (!typeof(TItem).IsAbstract) { 
                <GenericForm TItem=@TItem value=@addingItem></GenericForm>
            }
            else
            {
                <PointerInput2 TItem=@TItem value=@addingItem OnChange=OnChange2></PointerInput2>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
            <Button Color="Color.Primary" Clicked="@SaveModal">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    // reference to the modal component
    private Modal modalRef;
    private void OnChange2(object x)
    {
        addingItem = x as TItem;// new genericArgs[0]();
        var fmp = typeof(TMASTER).GetProperty(collectionName).GetCustomFirstAttributes<InversePropertyAttribute>().Property;
        var fidp = typeof(TItem).GetProperty(fmp).GetCustomFirstAttributes<ForeignKeyAttribute>().Name;
        var fidpp = typeof(TItem).GetProperty(fidp);
        fidpp.SetValue(addingItem, masterEnityId);
    }
    private Task ShowModal()
    {
        var titem = typeof(TItem);
        if(addingItem==null){
        if (!titem.IsAbstract)
        {
            addingItem = titem.GetConstructor(new Type[] { }).Invoke(new object[] { }) as TItem;// new genericArgs[0]();
            var fmp = typeof(TMASTER).GetProperty(collectionName).GetCustomFirstAttributes<InversePropertyAttribute>().Property;
            var fidp = typeof(TItem).GetProperty(fmp).GetCustomFirstAttributes<ForeignKeyAttribute>().Name;
            var fidpp = typeof(TItem).GetProperty(fidp);
            fidpp.SetValue(addingItem, masterEnityId);
        }
        else
        {
            addingItem = null;
            var fmp = typeof(TMASTER).GetProperty(collectionName).GetCustomFirstAttributes<InversePropertyAttribute>().Property;
            var fidp = typeof(TItem).GetProperty(fmp).GetCustomFirstAttributes<ForeignKeyAttribute>().Name;
            var fidpp = typeof(TItem).GetProperty(fidp);
            //fidpp.SetValue(addingItem, masterEnityId);
        }
        }

        return modalRef.Show();
    }

    private Task HideModal()
    {
        
        return modalRef.Hide();
    }
    private Task SaveModal()
    {
        if (Data is null)
            Data = Program0.getEntityManager<TItem, TKEY>();
        //var dataManager=Program0.getEntityManager<TMASTER, TMKEY>();
        Data.post(addingItem);
        return modalRef.Hide();
    }
}
